<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=https://pkg.go.dev/{{.FullPath}}">
  <meta name="go-import" content="{{.FullPath}} git {{.GitURL}}">
  <meta name="go-source" content="{{.FullPath}} {{.GitURL}} {{.GitURL}}/tree/{{.Branch}}{/dir} {{.GitURL}}/tree/{{.Branch}}{/dir}/{file}#L{line}">
</head>
<body>
  Documentation for <a href="https://pkg.go.dev/{{.FullPath}}">{{.FullPath}}</a>
</body>
</html>
